
:root{
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 34px;
    color: #202124;
    font-weight: 400;
    box-sizing: border-box;
}



#calculator-grid{
    border: #DFE1E5 solid 1px;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 150px;
    grid-template-rows: repeat(4, 90px);
    grid-template-columns:  repeat(4, 110px);
}

.btnStyle{
    background-color: #F8F9FA;
    border: #F8F9FA solid 1px;
    border-radius: 5px;
    height: 60px;
    width: 100px;
    

}

.calculator-grid > button {
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;

}

.btnStyle:hover{
    background-color:(#F8F9FA);
    opacity: .75;
}

.btnSpecialStyle{
    background-color:#4285F4;
}

.btnOtherStyle{
    background-color: #DADCE0;
}

.btnOtherStyle2{
    background-color: #e9847d;
}

#output{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    height: 50px;
    padding: 10px;
    width: 89%;
    background-color: white;
    text-align: right;
    border: #ECECEC  solid 2px;
    border-radius: 8px;
    text-overflow: hidden;
    overflow: hidden;
}

.output .previous-operand{
    color: rgba(49, 48, 48, 0.75);
    font-size: 1.25rem;
}

.output .current-operand{
    color: rgba(0, 0, 0, 0.75);
    font-size: 2.5rem;
}

p #displayText{
    text-align: right;
}

#displayAnswer{
    text-align: center;
    display: inline;
}

#btn0{
    grid-column-start: 1;
    grid-row-start: 5;
}

#btnDecimal{
    grid-column-start: 2;
    grid-row-start: 5;
}

#btnEquals{
    grid-column-start: 3;
    grid-row-start: 5;
}

#btn1{
    grid-column-start: 1;
    grid-row-start: 4;
}

#btn2{
    grid-column-start: 2;
    grid-row-start: 4;
}

#btn3{
    grid-column-start: 3;
    grid-row-start: 4;
}

#btn4{
    grid-column-start: 1;
    grid-row-start: 3;
}

#btn5{
    grid-column-start: 2;
    grid-row-start: 3;
}

#btn6{
    grid-column-start: 3;
    grid-row-start: 3;
}

#btn7{
    grid-column-start: 1;
    grid-row-start: 2;
}

#btn8{
    grid-column-start: 2;
    grid-row-start: 2;
}

#btn9{
    grid-column-start: 3;
    grid-row-start: 2;
}

#btnPlus{
    grid-column-start: 4;
    grid-row-start: 5;
}

#btnMinus{
    grid-column-start: 4;
    grid-row-start: 4; 
}

#btnMultiply{
    grid-column-start: 4;
    grid-row-start: 3;
    
}

#btnDivide{
    grid-column-start: 4;
    grid-row-start: 2;
    
}

#btnReset{
    grid-column-start: 4;
    grid-row-start: 1;
}